---
import Headline from "../../components/Headline.astro"
import Ruler from "../../components/Ruler.astro"
---
<div class="sa-introduce">
  <Ruler />
  <p>
    For the last decade I've been working on user centered projects,
    from delivering a feature to the billions of users of Chrome,
    to taking a machine learning model and making it relevant to
    someone with no technical training. Nowadays I work freelance
    as a tech advisor or consultant, helping teams understand their
    users and their processes.
  </p>
  <p>
    I can help your team with:
  </p>
  <ul>
    <li>
      <strong>project scoping</strong>: figure out and prioritize the core features of your application based
    on what your users actually need
    </li>
    <li>
      <strong>user experience design/research</strong>: work with you to design interactions that are easy to use 
    and intuitive for your users
    </li>
    <li>
      <strong>data visualizations</strong>: tell a story through your data, in a way that is 
    easy to understand, self explanatory and interesting
    </li>
    <li>
      <strong>debugging your team</strong>: help you figure out why your team might be stuck and have trouble
    focusing on features or delivering them
    </li>
    <li>
      <strong>engineering</strong>: answer technical questions about web best practices (eg. the performance and accessibility 
    of your product), do code reviews, or offer feedback and suggestions for improvement
    </li>
    <li>
      <strong>mentorship, guidance &amp; leadership</strong>: I can help you brainstorm creative ideas, offer feedback on your
    written materials and presentations, and help you craft your key messaging.
    </li>
  </ul>
  <p>
    If this sounds like something you're interested in, send me an
    <a href="mailto:alexander.sedeke@gmail.com">email</a>!
  </p>

  <Ruler />
  <Headline title="Uses" />
  <p>
    I am often asked about the specifics of some piece of software or hardware I use,
    so <a href="/alexander/uses">this page</a> will serve as a living document and a place to point curious designers and developers
    to when I get asked.
  </p>
</div>

<style>
.sa-introduce {
  max-width: var(--screen-small);
  margin: 2rem auto;
  color: var(--color-text-highlight);

  p {
    font-size: var(--font-size);
    font-weight: 300;
    margin: 0 0 1.5rem;
    line-height: 1.5;
  }

  ul {
    font-size: var(--font-size);
    font-weight: 300;
    padding: 1rem 0;

    li {
      margin-bottom: 1rem;
      margin-left: 1rem;
      line-height: 1.5;
      color: var(--color-text);
    }

    strong {
      font-weight: 400;
      color: var(--color-text-highlight);
    }
  }
}
</style>
