@import "./root.postcss";

html {
  font-size: 100%;
  background-color: var(--color-background-dark);
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-background-dark);
}

a {
  color: var(--color-brand);
  text-decoration: none;
}

.sa-link--strong {
  text-transform: uppercase;
  font-weight: 600;
}

.sa-link--light {
  text-transform: lowercase;
  font-weight: 300;
}
