:root {
  --color-background-light: hsl(240, 10.5%, 28%);
  --color-background: hsl(240, 10%, 23.5%);
  --color-background-dark: hsl(245, 10.9%, 19.8%);
  --color-text-highlight: hsl(0, 0%, 100%);
  --color-text-light: hsl(243 30% 85%);
  --color-text: hsl(243, 9.8%, 63.9%);
  --color-text-dark: hsl(240, 6%, 39.2%);
  --color-brand: hsl(214, 82.5%, 55.1%);
  --margin-sides: 8rem;
}

@media only screen and (max-width: 1200px) {
  :root {
    --margin-sides: 2rem;
  }
}
