:root {
  --color-background-light: rgb(64, 64, 79);
  --color-background: rgb(54, 54, 66);
  --color-background-dark: rgb(46, 45, 56);
  --color-text-highlight: rgb(255, 255, 255);
  --color-text: rgb(155, 154, 172);
  --color-text-dark: rgb(94, 94, 106);
  --color-brand: rgb(46, 128, 235);
  --margin-sides: 8rem;
}

@media only screen and (max-width: 1200px) {
  :root {
    --margin-sides: 2rem;
  }
}
