@import "../../public/fonts/Montserrat/Montserrat.css";
@import "./root.postcss";
@import "./document.postcss";

/**
 The namespace is set to 'hp' (homepage). 
*/
hr.abc {
  margin: 4rem var(--margin-sides);
  height: 1px;
  border-color: var(--theme-color-background--light);
  color: var(--theme-color-background--light);
  background-color: var(--theme-color-background--light);
}
