---
export interface Props {
	image: string;
}

const { image } = Astro.props
const imageulr = `url(${image})`
---
<div class="sa-about">
  <div class="sa-about__center">
    <div class="sa-about__circle"></div>
  </div>
</div>

<style define:vars={{ imageulr }}>
.sa-about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  padding: 0 var(--margin-sides);
  
  &__circle {
    position: relative;
    bottom: -8rem;
    padding: 2rem;
    border-radius: 999em;
    border: 6px solid var(--theme-color-background--dark);
    background-color: var(--theme-color-background);
    background-image: var(--imageulr);
    background-repeat: no-repeat;
		background-position: center;
		background-size: 480px;
    width: 300px;
    height: 300px;
    overflow: hidden;
  }

  &__image {
    width: 30vw;
    min-width: 250px;
    min-height: 250px;
  }
  
  &__center {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    text-align: left;
    padding: 2rem;
    transition: padding 0.1s;
  }
  
  &__text {
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--theme-color-text--light);
  }
  
  &__headline {
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--theme-color-text--highlight);
  }
}

.sa-indicator {
  display: block;
  height: 3px;
  margin: 1.5rem 50% 1.5rem 0;
  background-color: var(--theme-color-brand);
}

@media only screen and (max-width: 500px) {
  .sa-about {
    &__centers {
      padding: 0;
    }
  }
}

</style>
