---
export interface Props {
  prelude?: string;
	name: string;
  description: string;
}

const { prelude = 'I’m', name, description } = Astro.props
---
<div class="profile">
  <div class="profile-block">
    <span class="profile-prelude">{prelude}</span>
    <span class="profile-name">{name}</span>
    <span class="profile-description" set:html={description}></span>
  </div>
  <slot />
</div>

<style>
  .profile {
    flex: 1 1 auto;
    align-self: auto;
    padding: 2rem var(--margin-sides);
    background-color: var(--theme-color-background);

    &-block {
      max-width: var(--screen-size--narrow);
      margin: 0 auto;
      padding-top: 6rem;
      text-align: center;
      color: var(--theme-color-text--intense);
    }

    &-prelude {
      display: block;
      font-size: 2.25rem
    }

    &-name {
      display: block;
      font-size: 3rem;
      font-weight: 500;
      padding: 2rem 0;
    }

    &-description {
      display: block;
      font-size: var(--font-size--h5);
      font-weight: 400;
      line-height: 1.8;
      letter-spacing: 0.05rem;
    }
  }
</style>
