---
import Icon from '../atoms/Icon.astro'

export interface SocialType {
  icon: string;
  url: string;
}

export interface Props {
	list: SocialType[]
}

const { list, uses, usesLink } = Astro.props;
---
<div class="social">
  {list.map(social => (
    <a
      href={social.url}
      class="social-link"
      target="_blank">
      <Icon
        class="social-svg"
        name={social.icon} />    
    </a>
  ))}
</div>

<style>
  .social {
    padding: 2rem var(--margin-sides);
    text-align: center;
        
    &-link {
      display: inline-block;
      padding: 0.6rem;
      margin-right: 1rem;
      color: var(--theme-color-text);
      border-radius: 6px;
      
      &:hover {
        color: var(--theme-color-text--highlight);
      }

      svg {
        width: 40px;
        height: 40px;
      }
    }
        
    &-svg {
      width: 40px;
      height: 40px;
    }

    svg {
      width: 40px;
      height: 40px;
    }
  }
</style>
