---
import Icon from '../atoms/Icon.astro'
import Headline from '../atoms/Headline.astro'
---
<div class="hero">
  <div class="hero-image">
    <div class="image-circle">
      <div class="image-logo"></div>
    </div>
  </div>
  <div class="hero-content">
    <div>
      <h1 class="content-headline">Studio Alex</h1>
      <div class="content-indicator"></div>
      <p class="content-description">
        Alex Studio  provides custom software development <br>
        services backed by proven expertise in IT and considerable<br>
        portfolio of successfully completed international projects.<br><br>
        Our projects range from single-purpose tasks for small businesses
        to highly complex, multi-platform systems for large corporate clients.
      </p>
    </div>
  </div>
  <Icon icon="alex-clippingpath"></Icon>
</div>

<style>
.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  padding: 2rem var(--margin-sides);

  &-image {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    text-align: left;
    padding: 2rem;
  }
  
  &-content {
    order: 0;
    flex: 0 1 auto;
    align-self: flex-end;
    text-align: left;
    max-width: 500px;
    padding: 2rem;
  }
}

.image {
  &-circle {
    display: inline-block;
    background-color: var(--theme-color-background);
    padding: 2rem;
    border-radius: 999em;
  }
  
  &-logo {
    display: inline-block;
    background-image: linear-gradient(45deg, rgb(246,46,36), rgb(255,133,27), rgb(255,221,0), rgb(46,204,64), rgb(0,116,217), rgb(176,13,201));
    background-size: 800% 800%;
    clip-path: url(#alex-clippath);
    height: 50vw;
    width: 50vw;
    min-width: 200px;
    min-height: 200px;
    max-width: 350px;
    max-height: 350px;
    animation: rainbow 15s ease alternate infinite;
  }
}

.content {
  &-headline {
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--theme-color-text--highlight);
  }
  
  &-indicator {
    display: block;
    height: 3px;
    margin: 1.5rem 50% 1.5rem 0;
    background-color: var(--theme-color-brand);
  }

  &-description {
    line-height: 2rem;
  }
}

@keyframes rainbow {
  0% {
    background-position: 1% 80%;
  }
  50% {
    background-position: 99% 20%;
  }
  100% {
    background-position: 1% 80%;
  }
}
</style>
