---
import Headline from '../atoms/Headline.astro'
import Ruler from '../atoms/Ruler.astro'
import Icon from '../atoms/Icon.astro'

export interface Technologies {
  name: string
  svg: string
  url: string
  enabled: boolean
}

export interface Props {
	data: Technologies[]
}

const { data } = Astro.props
---
<div class="technology">
  <Ruler />
  <Headline>Tools & Technologies we use</Headline>
  <div class="technology-grid">
    {
      data.map(technology => (
        <div class="technology-item">
          <Icon icon={technology.svg} class="technology-icon"/>
          <span class="technology-name">{technology.name}</span>
        </div>)
      )
    }
  </div>
</div>

<style>
  .technology {
    padding: 2rem;

    &-grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: stretch;
      align-items: stretch;
    }

    &-item {
      flex: 0 1 auto;
      align-self: auto;
      min-width: 140px;
      margin: 0.5rem;
      padding: 1rem;
      color: var(--theme-color-text);
      text-align: center;
    }

    &-icon {
      display: inline-block;
      width: 48px;
      height: 48px;
    }

    &-name {
      display: block;
      color: var(--theme-color-text);
      margin-top: 1.3rem;
    }
  }
</style>
