---
import Icon from './atoms/Icon.astro'
import siteData from '../data/site.json'
---

<footer class="footer">
  <div class="footer-copyright">{siteData.copyright}</div>
  <div class="footer-social-links"> 
    <a href="https://astro.build"
      class="footer-social-link"
      target="_blank"
      aria-label="astro">
      <Icon name="astro-dark" data-theme="dark"/>
      <Icon name="astro-light" data-theme="light"/>
    </a>
  </div>
</footer>

<style lang="postcss">
  .footer {
    background-color: var(--theme-color-background);
    padding: 2rem var(--margin-sides);
    text-align: center;
    
    &-copyright {
      font-size: 0.9em;
      margin-bottom: 1rem;
    }

    &-socials {
      padding-top: 1rem;
    }
      
    &-social-link {
      display: inline-block;
      padding-right: 15px;
      color: var(--theme-color-text--highlight);

      svg {
        width: 26px;
        height: 26px;
      }
    }
  }
</style>
