---
import { site } from '../lib/getSiteInfo'
import Icon from './atoms/Icon.astro'
---

<footer class="sa-footer">
  <div class="sa-footer__copyright">{site.fields.copyright}</div>
  <div class="sa-footer__social-links"> 
    <a
      href="https://astro.build"
      class="sa-footer__social-link"
      target="_blank"
      id="astro">
      <Icon
        class="sa-footer__social-svg"
        icon="astro-dark" />
    </a>
  </div>
</footer>

<style lang="postcss">
  .sa-footer {
    background-color: var(--theme-color-background);
    padding: 2rem var(--margin-sides);
    text-align: center;
    transition: padding 1s;
    
    &__social-links {
      padding-top: 1rem;
    }
      
    &__social-link {
      display: inline-block;
      padding-right: 15px;
      color: var(--theme-color-text--highlight);

      svg {
        width: 26px;
        height: 26px;
      }
    }
        
    &__social-svg {
      width: 26px;
      height: 26px;
    }

    svg {
      width: 26px;
      height: 26px;
    }
  }
</style>
