---

---
<input type="checkbox" class="menu-checked" id="menu-checked">
<label class="menu-checked" for="menu-checked">
  <span class="menu-checked line-left"></span>
  <span class="menu-checked line"></span>
  <span class="menu-checked line-right"></span>
</label>

<style>
  input.menu-checked {
    display: none;
    
    &:checked ~ label {
      span.menu-checked {
        background-color: var(--theme-color-link);
        transform: translate(0, 0) rotate(-45deg);
      }
      
      span.line-left {
        width: 15em;
        transform: translate(2em, 4em) rotate(45deg);
      }

      span.line-right {
        width: 15em;
        float: right;
        transform: translate(-3em, -3.5em) rotate(45deg);
      }

      &:hover span {
        background-color: var(--theme-color-link--highlight);
      }
    }
  }

  label.menu-checked {
    display: inline-block;
    font-size: 1.22px;
    height: 30em;
    width: 30em;
    position: relative;
    margin-left: 2rem;
    padding: 4em 0 0 0;
    z-index: 920;
    cursor: pointer;
    
    span.menu-checked {
      height: 2em;
      width: 30em;
      display: block;
      background-color: var(--theme-color-link);
      margin-bottom: 7em;
      cursor: pointer;
      transition: transform .2s ease, background-color .5s ease;

      &.line-left {
        width: 16.5em;
        transition: all 200ms linear;
      }

      &.line-right {
        width: 16.5em;
        float: right;
        transition: all 200ms linear;
      }
    }
    
    &:hover span.menu-checked {
      background-color: var(--theme-color-link--highlight);
      width: 30em;
    }
  }
</style>
