---
import NavigationItem from './NavigationItem.astro'
import MenuIcon from './MenuIcon.astro'
---
<nav class="desktop-menu">
  <NavigationItem path="/" title="Home" />
  <NavigationItem path="/tips" title="Tips" match="tips" />
  <NavigationItem path="/alexander/about" title="Alexander" match="alexander" />
  <NavigationItem path="/lea/about" title="Lea" match="lea" />
  <NavigationItem path="https://github.com/studioalex" icon="github" target="_blank"/>
</nav>
<MenuIcon />
<div class="mobile-menu">
  <nav class="mobile-navigation">
    <NavigationItem path="/" title="Home" />
    <NavigationItem path="/tips" title="Tips" match="tips" />
    <NavigationItem path="/alexander/about" title="Alexander" match="alexander/about" />
    <NavigationItem path="/lea/about" title="Lea" match="lea/about" />
    <NavigationItem path="/alexander/uses" match="alexander/uses">
      <span class="mobile-navigation-subtitle">Alexander /</span> uses
    </NavigationItem>
    <NavigationItem path="/lea/uses" match="lea/uses">
      <span class="mobile-navigation-subtitle">Lea /</span> uses
    </NavigationItem>
    <NavigationItem path="https://github.com/studioalex" icon="github" target="_blank"/>
  </nav>
</div>
<div class="mobile-menu-background"></div>

<style is:global>
  body:has(input.menu-checked:checked) {
    overflow: hidden;
  }

  input.menu-checked {
    &:checked ~ .mobile-menu-background {
      width: 100vmax;
      height: 100vmax;
      transform: translate3d(50vh, 50vh, 0) scale(5);
      transition-duration: 1s;
    }

    &:checked ~ .mobile-menu {
      height: 100vh;
      width: 100vw;
      padding: 2rem var(--margin-sides);
      opacity: 1;
      transition: all 1s;
    }
  }

  .mobile {
    &-menu {
      position: absolute;
      z-index: 910;
      top: 0;
      right: 0;
      height: 0;
      width: 0;
      overflow: auto;
      transition: all 0.1s;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-content: stretch;
      align-items: stretch;
      padding: 0;
      box-sizing: border-box;
      opacity: 0;

      &-background {
        position: fixed;
        z-index: 900;
        width: 0px;
        height: 0px;
        right: 0;
        top: 0;
        background-color: var(--theme-color-background--dark);
        border-color: 3px solid white;
        border-radius: 50%;
        transition: transform .25s cubic-bezier(0.04, -0.1, 0.29, 0.98),
          width .25s cubic-bezier(0.04, -0.1, 0.29, 0.98),
          height .25s cubic-bezier(0.04, -0.1, 0.29, 0.98);
      }
    }

    &-navigation {
      order: 0;
      flex: 1 1 auto;
      align-self: auto;
      min-width: 300px;
      max-width: 450px;
      font-size: 1rem;
      padding: 5rem 0 0 0;

      a {
        display: block;
        margin: 0.3rem 0;
        font-size: 1.3em;
        color: var(--theme-color-link);
        padding: 0.6em 1em;

        &.link-icon {
          display: inline-block;
        }

        &:hover {
          background-color: var(--theme-color-background);
          border-radius: 4pt;
        }
      }

      &-subtitle {
        color: var(--theme-color-text--dark);
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .desktop-menu {
      display: none;
    }
  }
</style>
