---
import Headline from './atoms/Headline.astro'
import Icon from './atoms/Icon.astro'

export interface Technologies {
  name: string;
  svg: string;
}

export interface Props {
	list: Technologies[]
}

const { list } = Astro.props
---
<div class="sa-technology">
  <hr class="abc" />
  <Headline>Tools & Technologies we use</Headline>
  <div class="sa-technology__grid">
    {
      list.map(item => (
        <div class="sa-technology__item">
          <Icon icon={item.svg} class="sa-technology__icon"/>
          <span class="sa-technology__name">{item.name}</span>
        </div>))
    }
  </div>
</div>

<style>
  .sa-technology {
    padding: 2rem;

    &__grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
    }
    &__item {
      order: 0;
      flex: 1 1 auto;
      align-self: auto;
      min-width: 100px;
      margin: 0.5rem;
      padding: 1rem;
      color: var(--theme-color-text);
      text-align: center;
    }
    &__icon {
      width: 48px;
      height: 48px;
      margin: 0.5rem;
    }
    &__name {
      display: block;
      color: var(--theme-color-text--light);
      font-size: 1rem;
      margin: 0.5rem;
    }
  }
</style>
