---
export interface Props {
	path: string
  title?: string
}

const { path, title } = Astro.props

const parts = path.slice(1).split('/') // remove the first "/"
---
<a href={path}
  class="link"
  aria-label={`Link to ${parts.join(' ')}`}>
  { title || parts.map((part, index) => (
    <span>{part}{(index !== (parts.length-1)) && ' / '}</span>
  )) }
</a>

<style>
.link {
  position: relative;
  display: inline-block;
  padding: .6em 1em;
  border: none;
  color: var(--theme-color-brand);
  font-size: 1.2rem;
  vertical-align: text-bottom;

  span {
    text-transform: lowercase;
    font-weight: 300;

    &:first-child {
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0.6em; 
    padding: 3px; 
    background: linear-gradient(-45deg, hsl(116 32.2% 22.5%), hsl(116 32.2% 32.5%), hsl(116 32.2% 42.5%), hsl(116 32.2% 52.5%));
    background-size: 400% 400%;
    animation: ButtonGradientAnimation 6s ease infinite;
    -webkit-mask: 
      linear-gradient(#FFFFFF 0 0) content-box, 
      linear-gradient(#FFFFFF 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }
}
@keyframes ButtonGradientAnimation {
    0% {
      background-position: 0% 37%;
    }
    50% {
      background-position: 100% 64%;
    }
    100% {
      background-position: 0% 37%;
    }
}
</style>
