<div class="tip-tag">
  <slot />
</div>

<style>
  .tip-tag {
    display: inline-block;
    padding: 0 0.5rem;
    margin-right: 0.3rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--theme-color-text--soft);
    background-color: var(--theme-color-background--intense);
    border-radius: 4pt;
  }
</style>
