---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'

export interface Props {
	title?: string;
	styles?: string;
	background?: string;
}

const {
	title = 'Studio Alex',
	styles = false,
	background = false
} = Astro.props

const contentClass = ['sa-content']
if (styles) {
	contentClass.push(styles)
}

const backgroundClass = ['sa']
if (background) {
	backgroundClass.push(background)
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <meta name="description" content="Alex Studio provides custom software development services backed by proven expertise in IT and considerable portfolio of successfully completed international projects. Our projects range from single-purpose tasks for small businesses to highly complex, multi-platform systems for large corporate clients.">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.studioalex.dev">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Studio Alex dev">
    <meta property="og:description" content="Alex Studio provides custom software development services backed by proven expertise in IT and considerable portfolio of successfully completed international projects. Our projects range from single-purpose tasks for small businesses to highly complex, multi-platform systems for large corporate clients.">
    <meta property="og:image" content="https://www.studioalex.dev/images/screen_studioalex.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="studioalex.dev">
    <meta property="twitter:url" content="https://www.studioalex.dev">
    <meta name="twitter:title" content="Studio Alex dev">
    <meta name="twitter:description" content="Alex Studio provides custom software development services backed by proven expertise in IT and considerable portfolio of successfully completed international projects. Our projects range from single-purpose tasks for small businesses to highly complex, multi-platform systems for large corporate clients.">
    <meta name="twitter:image" content="https://www.studioalex.dev/images/screen_studioalex.png">

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->

		<link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
		<link rel="manifest" href="site.webmanifest">
		<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#2b5797">
		<meta name="theme-color" content="#fafafa">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	</head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CF13BQFELK"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CF13BQFELK');
  </script>
	<!--
                                           ,,╓,
                                        ╓████████▄
                             ,╓▄▄▄xæ▄▄▄▓██████████▌
                       ,æ▀▀╙─            └╙▀▀██████
                   ,Æ▀└                        ╙▀█▌
                 ▄▀                               └▀▄
        ▄▓███▓▄Æ└                                    ▀▄
      ▓███████╙                           ▄▄▓▓▄▄▄,     ▀
     ▐██████▀                           ▄███████████▄   ╙µ    ▄▓██▓▄,
     └█████▀                           j██████████████   ╟  ▄██'▐▌.███
      ╙███▀                            ▐█▌ '██████████▌   █▓█ ╫█▀▀█▌ █▌
        ╙▌        ,▄██▓▄,               ██▓▓██████████▌   ╟███▀    ╙███
        ╫       ▄█████████▄              ▀███████████▀    ▐███▌    ▄███
        █      ████████╙ ▐█▌     ██▀       ╙▀▀██▀▀▀╙      █████████████
        █     █████████▄▄███                    ░░ '     ▄████████████▌
        ╟     ██████████████          ▄^                ▓█████████████
         ▌    ╟████████████      ▀══▀╙                ▄██████████████
         ╙▌    ╙████████▀└                         ╓▓█████████████▀─
           ▌     ─╙▀▀╙─  '░                    ▄▄██████████████▀▀
            ╙▄         ''                 ▄æ▀╙─ └╙╙▀▀▀▀▀█▀▀▀╙─
              ╙¼,                   ╓▄ª▀╙─              ╙µ
                 ╙▀╗▄╓,,,,,,▄▄▄M▀▀╙─                     █
                    ╟█████████▌                          ▐▄▄,
                    ██████████▌                          [████▄
      Hi there      ███████████▌                         '█████▌  ╓▄▄▄,
                 ▄▄██████████████▄                      ,▐█████████▀█▀███µ
              ,███▀████████████████▓,                   ░█████████ ▐▌,█^╟█µ
             ]█▌╙█'╟▌█████████████████▄               ;░█████████▀╙╙╙██▓▀█▌
             ▐██▄██▀▀▀██████████████████▄           ;░╓█████████'     █▒╓█
              █.╙█    ╙██████████████████▌      ,≤░',▓█████████▒     .███¬
              └███      ╟█████████████████░░░│''',▄▀╙╙╙╙╙███████,  ,▄██▀
                ▀██▄    ▓████████████████▀,▄▄▄╧▀╙        ╙███████████▀
                  ▀███████████▀╙▀▀▀▀▀▀▀╙└└─                 ╙▀▀▀▀▀└
                    ─╙▀▀▀▀▀▀╙
	 -->
	<body>
		<div class={backgroundClass.join(' ')}>
			<Header title="&lt;studio-alex-dev/&gt;" />
			<main class={contentClass.join(' ')}>
		    <slot />
		  </main>
			<Footer />
		</div>
	</body>
</html>

<style>
.sa {
	min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  color: var(--color-text);
	overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Montserrat', sans-serif;
	z-index: 0;

	&.praha {
		background-image: url("/images/karluvmost.jpg");
		background-repeat: no-repeat;
		background-position: 0 -40vh;
		background-size: 100vmax;
		transition: background 1s;
	}
}

@media only screen and (max-width: 2400px) {
  .sa {
    &.praha {
		  background-position: 0 -20vh;
    }
  }
}

.sa-content {
  flex: 1 1 auto;
  align-self: auto;

	&.flex {
		display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
	}
  
  &.flex-distribute {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
  }

	&.flex-center {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
  }


  &.size-full {
		max-width: 1440px;
    margin: 0 auto;
	}

	&.size-small {
    max-width: 768px;
		padding: 0 2rem;
    margin: 0 auto;
  }
}
</style>
