---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'
export interface Props {
	title?: string;
	styles?: string;
	background?: string;
}

const {
	title = 'Studio Alex',
	styles = false,
	background = false
} = Astro.props

const contentClass = ['sa-content']
if (styles) {
	contentClass.push(styles)
}

const backgroundClass = ['sa']
if (background) {
	backgroundClass.push(background)
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <meta name="description" content="">

		<meta property="og:title" content="studioalex">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://www.studioalex.one">
		<meta property="og:image" content="">

		<link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
		<link rel="manifest" href="site.webmanifest">
		<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#2b5797">
		<meta name="theme-color" content="#fafafa">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class={backgroundClass.join(' ')}>
			<Header />
			<main class={contentClass.join(' ')}>
		    <slot />
		  </main>
			<Footer />
		</div>
	</body>
</html>

<style>
.sa {
	position: relative;
	width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  color: var(--color-text);
  overflow: auto;
  font-family: 'Montserrat', sans-serif;
	z-index: 0;

	&.praha {
		background-image: url("/images/praha1.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}

.sa-content {
  flex: 1 1 auto;
  align-self: auto;
  max-width: 1440px;
  margin: 0 auto;
  
  &.distribute {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
  }

	&.center {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
  }

	&.small {
    max-width: 768px;
		padding: 0 2rem;
  }
}
</style>
